/* === Lists === */
.testless {
  float: right;
  transform:rotate(89deg);
  color: #8e8e93;
  padding: 20px;
  text-align: center;
  text-transform: 9px;
  align-content:flex-start;
  background: #fff;
  height: 456px;
  columns: 23;
  color: #f00;
  padding-top: 89px;
  padding-top: 67px;
  background:#f00;
  2
}


.divmy {
  background: #F7F7F7;
  height: 300px;
  color: #c8c7cc;
  border-radius: 5px;
  padding-bottom: 50px;
  transition: all ;
  padding: 30px;
  line-height: 30px;
}
.test {
  color: #F7F7F7;
  transform: rotate(30deg);
  transition: transform 1s;
  display: flex;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 2s;
  height: 60px;
  font-weight: 800;
}
.mydiv {
  font-size: 80px;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  border-radius: 5px;
}
.ccdsfd {
  color: #F7F7F7;
  border: 1px solid #F7F7F7;
}
a {
  background: linear-gradient(to top, black, white);
  display: flex;
}
::placeholder {
  color: #ccc;
}
a {
  transition: transform 1s;
  color: #000;
}
.mytext {
  color: #F7F7F7;
  border: 1px solid #0000AA;
  background: #f600f6;
  font-weight: bold;
  padding: 50px;
  background-size: 100%;
}
.test
{
  border:2px solid #f00;
  background: #0f0;
}

.aa{
  padding: 5px;

.ww{
  font-weight:bold;
font-size:14px;
}
